<%- include('./partials/header') %>

<section class="page-heading">
  <h1>404</h1>
  <p>Whatever you were looking for is hiding somewhere else.</p>
  <a class="button" href="/blogs">Go home</a>
</section>

<%- include('./partials/footer') %>
